body {
  color: #337AB7;
  text-align: center;
  margin: auto;
}

ng-map {
  width: 50%;
  height: 150%;
  margin: auto;
}

.colorBar {
  height: 10%;
  width: 100%;
  margin: auto;
  border-radius: 20px;
  padding: 10px;
  font-weight: bold;
}

#good {
  background-color: green;
  color: white;
}
#moderate {
  background-color: yellow;
  color: black;
}

#unhealthySens {
  background-color: orange;
  color: white;
}

#unhealthy {
  background-color: red;
  color: white;
}

a {
  color: red;
  font-weight: bold;
}

.jumbotron {
  background: url('/images/clouds.png') no-repeat center center;
  color: white;
}

button {
  margin-top: 20px;
  padding: 20px;
}

@media (min-width: @screen-sm-min) {
    html .searchBar {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-around;
   }
 }

@media (min-width: @screen-md-min) {
  .searchBar {
    display: flex;
    align-items: center
  }
 }

@media (min-width: @screen-lg-min) {
  .searchBar {
    display: flex;
    align-items: center
  }
 }
