<!-- index.html -->
<!DOCTYPE html>
<html lang="en" ng-app="ngAir" ng-controller="AirController">
  <head>
    <meta charset="utf-8">
    <title>ngAir</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body>
    <h2>Enter City and State:</h2>
    <div class="searchBar">
      <!-- <input type="text" placeholder="Enter country..." ng-model="searchCountry" ng-model-options="{ debounce: 800 }" onclick="select()" autofocus> -->
      <input type="text" placeholder="Enter city..." ng-model="searchCity" ng-model-options="{ debounce: 800 }" onclick="select()" autofocus>
      <!-- <input type="text" placeholder="Enter state..." ng-model="searchState" ng-model-options="{ debounce: 800 }" onclick="select()" autofocus> -->
      <button>Search</button>
    </div>
    <div id="air-data" ng-include="'partials/air-data.html'">

    </div>

  </body>
</html>
